/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet&display=swap');
 
*{
    box-sizing: border-box;
}

header,
section{
    overflow-x: hidden;
}

:root{
    --Snigle-font:"Sniglet", cursive;
    --Rubik:"Rubik",cursive;
    --Patua:"Patua One",cursive;
    --Lobster:"Lobster",cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(
        to right,
        #000000, rgb(167, 10, 10));
    --light-gray: rgba(255,255,255,0.877);
}

.header a{
    font-family: var(--Snigle-font) ;
    font-size: 0.9em;
    color:rgb(228, 225, 225);
}


header{
    background: #000000;
    background: var(--bggradient);
}

header .nav-item:last-child {
    padding-right: 10.5em;
  }
  
  header .nav-item {
    padding: 0.9em;
  }

  header .nav-link{
      color: whitesmoke;
  }
  
  header .navbar-brand {
    padding-left: 8rem;
    color: whitesmoke;
  }

  header .nav-link:hover {
    color: rgb(88, 86, 86);
  }
  
  header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
  }
  
  header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
  }
  
  header .row .col-md-5 img {
    width: 140%;
    padding-right: 16vmin;
  }
  
  header {
    background: #000000;
    /* fallback for old browsers */
    background: var(--bggradient);
  }
  
  header .container .col-md-7 {
    font-family: "Rubik", sans-serif;
    color: whitesmoke;
  }
  
  header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
  }
  
  header .container .col-md-7 h1 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
  }
  
  header .container .col-md-7 p {
    padding: 1vmin 5vmin;
  }
  
  .primary-btn {
    border-radius: 30px;
    font-weight: bold;
  }

  .section-1 {
    padding: 20vmin 0vmin;
  }
  
  .section-1 .row .col-md-6 .don img {
    opacity: 0.8;
    width: 100%;
    border-radius: 0.2em;
  }
  
  .section-1 .row .col-md-6:last-child {
    position: relative;
  }
  
  .section-1 .row .col-md-6 .panel {
    position: absolute;
    top: 6vmin;
    left: -18vmin;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
  }
  
  .section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
  }
  
  .section-1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
  }

  .section-2 .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
  }
  
  .section-2 .cards {
    padding: 10vmin 4vmin;
  }
  
  .section-2 .card {
    width: 22em;
    margin-top: 10vmin;
  }
  
  .section-2 .card-body > a {
    font-size: 1.5em;
  }
  
  .section-2 .carousel-item {
    padding-left: 3rem;
  }
  
  .border-radius {
    border-radius: 340px;
    width: 60%;
  }

  footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
  }
  
  footer p > span {
    color: #ff512f;
  }
  
  footer input {
    border: none !important;
  }
  
  footer input::placeholder {
    color: white !important;
  }
  
  footer .input-group .input-group-text {
    background: #413d3d;
    border: none;
  }
  
  footer .column i {
    color: #dd2476;
  }
  
  /* It is Adjacent sibling combinator */
  
  footer .column i + i {
    padding: 0 0.5em;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.815);
    z-index: 9999;
    transition: all 1.5s ease;
  }